page-update-pwd {
    .loginLabel{
        font-size: 14px;
    }
    .place{
        font-size: 14px;

    }
    #RegisterButton{
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        height: 40px;
        
        
        
 
     }
     #loginBut{
        padding-left: 30px;
        padding-right: 35px;
    }
}
