page-about-pro {
    #LoginBG{
       
        background-repeat:no-repeat;
        background-size:100% 100%;
        height: 100%;
        width: 100%;
       
    }   
    #loginDiv{
        text-align: center;
        padding-top: 40px;
        color:white;
        font-weight: bold;
        padding-left: 40px;
        padding-right: 40px;
    }
    #logo{
        width: 120px;
        height: 100%;
    }
    #loginButton{
       width: 100%;
       font-size: 18px;
       line-height: 20px;
       height: 40px;
       
       
       

    }

    #loginBut{
        padding-left: 30px;
        padding-right: 35px;
    }
    
}
