page-contact {
    .img{
       width:30px;
       height:30px; 
       margin-top:2px;
       margin-right:15px;
       line-height:40px;
       border-radius: 0px;
       
    }
    h2 ,h3{
        color:#708090;
       
    }
   
}   
