<!--
  Generated template for the RoomCardListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>房间卡号</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
       <ion-list style="margin-top: -15px;" >  
            <ion-item style="margin-top: 2px;" *ngFor="let opt of roomList">  
                <span style="margin-left:-10px;">
                  <img style="height:24px;width:24px;vertical-align:middle" src="assets/img/set_dingdan.png" />
                  <span >{{opt.cardNo}}<span style="font-size:5px;color: #666666;width:40px" *ngIf='opt.linkState=="10"'>(已发卡)</span><span style="font-size:5px;color: #666666;width:40px" *ngIf='opt.linkState=="20"'>(未发卡)</span></span>
                </span>
                <span item-right style="margin-right:30px;"> <span (click)="del(opt)" style="border:1px solid red;color:red; border-radius:2px 2px 2px 2px;font-size:16px;margin-right: 10px">删卡</span>  <span (click)="add(opt)" style="border:1px solid green;color:green; border-radius:2px 2px 2px 2px;font-size:16px">发卡</span></span>  
            </ion-item> 

            <!-- <ion-item style="margin-top: -16px;">  
                <span style="margin-left:-10px;">
                  <img style="height:24px;width:24px;vertical-align:middle" src="assets/img/set_dingdan.png" />
                  <span >1234567891<span style="font-size:5px;color: #666666;width:40px">(已发卡)</span></span>
                </span>
                <span item-right style="margin-right:30px;"> <span style="border:1px solid red;color:red; border-radius:2px 2px 2px 2px;font-size:16px;margin-right: 10px">删卡</span>  <span style="border:1px solid green;color:green; border-radius:2px 2px 2px 2px;font-size:16px">发卡</span></span>  
            </ion-item>   -->
           
            
        </ion-list>  
      <button class="delButton" (click)="delAllCard()">
          删除全部卡号
      </button>
      <button class="loginButton" (click)="replaceAllCard()">
          重新发卡
      </button>

        
    
</ion-content>
